<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en"
      lang="en">
<head>
</head>
<body>
<h2 align="center">Your MyApp Password has been Reset</h2>
<p>Your username is: <span style="color: green;">[% username %]</span></p>
<p>Your password is: <span style="color: red;">[% password %]</span></p>
<p>You will be asked to change your password on first login.</p>
</body>
</html>
